:root {
        --bg: #070a12;
        --surface: #0e13206c;

        --text: #f4f7fb;
        --primary: #00d9ff;
        --secondery: #8b5cf6;
}
@font-face {
        font-family: cyba-45;
        src: url("fonts/saiba'45/SAIBA-45.ttf");
}
@font-face {
        font-family: "orbitron";
        src: url("fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "orbitron", "Courier New", Courier, monospace;
}
html {
        background-color: var(--bg);
        color: var(--text);
}

/* NAV */
nav {
        position: relative;
        z-index: 10;
        width: 100%;
        padding: 1rem 5%;
        background-color: var(--surface);
        border-bottom: 2px solid var(--secondery);
        backdrop-filter: blur(15px);
        margin-bottom: 2rem;
}
.nav-links {
        list-style-type: none;
        display: flex;
        gap: 2rem;
}
.nav-links li a {
        text-decoration: none;
        color: var(--text);
}
h1.name {
        margin-top: 30vh;
        font-size: clamp(2rem, min(20vh, 15vw), 12rem);
        text-align: center;
        font-family: "cyba-45", "Courier New", Courier, monospace;
        -webkit-text-stroke: 2px var(--secondery);
}

.hero {
        z-index: 1;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 50vh;
        position: relative;
        top: 0;
}
.hero-border line {
        stroke: var(--secondery);
        stroke-width: 1;
        fill: none;
}

.moments {
        position: relative;
}

.moments h1 {
        position: absolute;
        right: 0;
        padding-right: 15vh;
        padding-top: 15vh;
        font-size: 5vh;
        z-index: 2;
}

.moments-stack {
        width: clamp(280px, 80vw, 600px);
        height: clamp(350px, 60vh, 500px);
        margin-left: 7vw !important;
}

.swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid var(--secondery);
}
